In [1]:
# This notebook is for all the processes of importing the data, formatting it and saving it to SQL
import pandas as pd
import re
import os
import pymysql
from sqlalchemy import create_engine

In [2]:
# Set up SQL engine
cred = os.environ.get('SQL')
engine = create_engine('mysql+pymysql://'+cred+'@localhost/books_project')

In [ ]:
# Process Amazon 32 dataset
amazon32 = pd.read_csv("C:/Users/fergu/Documents/Work/Ironhack/Projects/Project 1/01_Data Sources/Amazon 32C.csv", names = ["ISBN_10", "Image", "Image link", "Title", "Author", "Num Genre", "Genre"])
# Some preceding 0s lost in dataset. Added back in. 
amazon32["ISBN_10"] = amazon32["ISBN_10"].apply(lambda x: x.zfill(10))
# Check that the fixed ISBNs match those in the image names
amazon32[amazon32["ISBN_10"].astype(str) + ".jpg" != amazon32["Image"]]
# Save to SQL database
amazon32.to_sql("amazon32", con=engine)

In [26]:
amazon_rat = pd.read_csv("C:/Users/fergu/Documents/Work/Ironhack/Projects/Project 1/01_Data Sources/Amazon Ratings.csv")
amazon_rat["amazon_isbn-10"] = amazon_rat["amazon_isbn-10"].astype(str).apply(lambda x: x.zfill(10))
amazon_rat.to_sql("amazon_rat", con=engine)

In [38]:
bx_books = pd.read_csv("C:/Users/fergu/Documents/Work/Ironhack/Projects/Project 1/01_Data Sources/BX-Books.csv", sep=";",error_bad_lines=False, encoding = "latin_1", 
                       usecols=["ISBN", "Book-Title", "Book-Author", "Year-Of-Publication", "Publisher"])
bx_book_r = pd.read_csv("C:/Users/fergu/Documents/Work/Ironhack/Projects/Project 1/01_Data Sources/BX-Book-Ratings.csv",sep=";",error_bad_lines=False, encoding = "latin_1")
bx_books.to_sql("bx_books", con=engine)
bx_book_r.to_sql("bx_book_r", con=engine)

In [41]:
flipkart_rat = pd.read_csv("C:/Users/fergu/Documents/Work/Ironhack/Projects/Project 1/01_Data Sources/Flipkart Ratings.csv")
flipkart_rat.to_sql("flipkart_rat", con=engine)

In [53]:
gr_books_10k = pd.read_csv("C:/Users/fergu/Documents/Work/Ironhack/Projects/Project 1/01_Data Sources/GR Books 10k.csv")
gr_books_10k.drop(["image_url", "small_image_url"], axis=1, inplace=True)
gr_books_10k["isbn"] = gr_books_10k["isbn"].astype(str).apply(lambda x: x.zfill(10))
gr_books_10k["isbn13"] = gr_books_10k["isbn13"].astype(str).apply(lambda x: x.zfill(13))
gr_books_10k.to_sql("gr_books_10k", con=engine)

In [56]:
gr_books_k = pd.read_csv("C:/Users/fergu/Documents/Work/Ironhack/Projects/Project 1/01_Data Sources/GR Books K.csv",error_bad_lines=False)
gr_books_k["isbn"] = gr_books_k["isbn"].astype(str).apply(lambda x: x.zfill(10))
gr_books_k["isbn13"] = gr_books_k["isbn13"].astype(str).apply(lambda x: x.zfill(13))
gr_books_k.to_sql("gr_books_k", con=engine)

b'Skipping line 3350: expected 12 fields, saw 13\nSkipping line 4704: expected 12 fields, saw 13\nSkipping line 5879: expected 12 fields, saw 13\nSkipping line 8981: expected 12 fields, saw 13\n'