## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [3]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [14]:
# Your code here
sample_list_1 = random.sample(range(100), 60)
print(sample_list_1)

[37, 6, 20, 97, 91, 72, 9, 33, 63, 44, 24, 70, 82, 92, 42, 68, 13, 31, 75, 96, 93, 65, 36, 12, 34, 69, 51, 78, 15, 19, 10, 53, 11, 62, 81, 21, 79, 17, 86, 67, 64, 58, 87, 25, 73, 61, 89, 41, 28, 54, 32, 98, 35, 95, 49, 52, 39, 99, 47, 26]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [15]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

#Yes the values generated above are unique

60

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [18]:
# Your code here
sample_list_2 = [random.randrange(0,100) for i in range(80)]
print(sample_list_2)

[94, 70, 24, 76, 17, 69, 8, 71, 66, 30, 54, 60, 94, 85, 98, 41, 92, 70, 39, 98, 59, 23, 47, 93, 63, 62, 79, 21, 50, 70, 12, 4, 53, 70, 48, 91, 8, 87, 49, 67, 28, 57, 60, 58, 37, 78, 64, 72, 55, 4, 24, 23, 12, 15, 36, 96, 3, 57, 77, 33, 70, 77, 69, 88, 70, 70, 78, 79, 39, 36, 16, 46, 72, 31, 54, 42, 99, 3, 59, 42]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [19]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
#Set 2 is now shorter as duplicates are removed

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [20]:
# Your code here
set3 = set1 - set2
print(set3)

{6, 9, 10, 11, 13, 19, 20, 25, 26, 32, 34, 35, 44, 51, 52, 61, 65, 68, 73, 75, 81, 82, 86, 89, 95, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [21]:
# Your code here
set4 = set2 - set1
print(set4)

{3, 4, 8, 16, 23, 30, 46, 48, 50, 55, 57, 59, 60, 66, 71, 76, 77, 85, 88, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [41]:
# Your code here
set5 = set1 & set2
print(set5)

{12, 15, 17, 21, 24, 28, 31, 33, 36, 37, 39, 41, 42, 47, 49, 53, 54, 58, 62, 63, 64, 67, 69, 70, 72, 78, 79, 87, 91, 92, 93, 96, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [33]:
# Your code here
#set 1 length 60
#set 2 length 1-80
#set 3 length 0-60
#set 4 length 0-40
#set 5 length 0-60

print(len(set1) >= len(set3))
print(len(set1) >  len(set4))
print(len(set1) >= len(set5))
print(len(set2) >= len(set5))

True
True
True
True

#### Create an empty set called `set6`.

In [28]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [30]:
# Your code here
set6.update(set3, set5)
print(set6)

{6, 9, 10, 11, 12, 13, 15, 17, 19, 20, 21, 24, 25, 26, 28, 31, 32, 33, 34, 35, 36, 37, 39, 41, 42, 44, 47, 49, 51, 52, 53, 54, 58, 61, 62, 63, 64, 65, 67, 68, 69, 70, 72, 73, 75, 78, 79, 81, 82, 86, 87, 89, 91, 92, 93, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [31]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [45]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [49]:
# Your code here
set7 = set3.union(set4).union(set5)
set8 = set1.union(set2)
set7 == set8

#set9 = set3 | set4 | set5
#set10 = set2 | set1
#set9 == set10

True

#### Using the `pop` method, remove the first element from `set1`.

In [54]:
# Your code here
#to avoid having to reset set1 if I do something silly
set11 = set1

print(set11.pop())
print(set11)

11
{12, 13, 15, 17, 19, 20, 21, 24, 25, 26, 28, 31, 32, 33, 34, 35, 36, 37, 39, 41, 42, 44, 47, 49, 51, 52, 53, 54, 58, 61, 62, 63, 64, 65, 67, 68, 69, 70, 72, 73, 75, 78, 79, 81, 82, 86, 87, 89, 91, 92, 93, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [62]:
# Your code here
#to avoid having to reset set1 if I do something silly
set12 = set1
set_to_remove = {1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}
set12 = set12 - set_to_remove

print(set12)

{12, 13, 15, 17, 20, 24, 25, 26, 28, 32, 33, 34, 35, 36, 37, 42, 44, 47, 52, 53, 54, 58, 62, 63, 64, 65, 67, 68, 70, 72, 73, 75, 78, 82, 86, 87, 92, 93, 95, 96, 97, 98}